body {
  background-color: #e5fffa;
}

h1 {
  margin-left: 100px;
  color: #000;
}

.title {
  /*display: flex;*/
  color: #000;
  font-size: 20px;
  margin-left: 70px;
}

#container {
  width: 90%;
  margin: auto;
}
.square {
  display: flex;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  width: 70px;
  height: 60px;
  border:1px red solid;
}
/*#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}*/
.containerRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}
img {
  /*display:flex;*/
  border-radius: 5px;
  border: 1px black solid;
  /*margin-left: 600px;*/
}
#temp {
  /*display: flex;*/
  color: #000;
  font-size: 20px;
}
#zipCode{
  /*display: flex;*/
  color: #000;
  font-size: 20px;
}
#forecast{
  color: #000;
  font-size: 20px;
}

.facts {
  height: 50px;
  width: 20px;
  border-color: #000;
  border-style: 1px solid;
}
